.back-drop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: #0a0a0a8e;
  z-index: 1;
}
.modal-style {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}

@media all and (min-width: 576px) {
  .modal-style {
    position: fixed;
    top: 10%;
    left: 50%;
    width: min(100%, 500px);
    height: min(100%, 350px);
    transform: translate(-50%, -10%);
  }
}
