.container-style button {
  border: none;
  background-color: #441601;
  color: inherit;
  padding: 1.1rem 1.7rem;
  height: 65%;
  border-radius: 30px;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
  font-size: calc(1rem + 0.3vw);
}
.button-style span {
  margin: 0px 6px;
}
.button-style:hover {
  cursor: pointer;
}
.stock-number {
  background-color: #b03b18;
  border-radius: 45%;
  padding: 0px;
  width: max-content;
  height: max-content;
  padding: 2px 8px;
}
.hide-on-mobile {
  display: none;
  background-color: transparent !important;
}
@media all and (min-width: 768px) {
  .hide-on-mobile {
    display: inline-block;
  }
  .button-style {
    padding: 0rem 2.5rem;
  }
}
@media all and (min-width: 1400px) {
  .button-style {
    font-size: 1.3rem;
  }
}
